@import "tailwindcss";
 /* Professional Dot Grid Background - Soft on Eyes */
          .bg-dot-pattern {
            background-color: #f8fafc; /* Slate 50 */
            background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
            background-size: 32px 32px;
          }


@theme {

  --animate-spin-slow: spin 10s linear infinite;
  --animate-float: float 3s ease-in-out infinite;

  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
  }

}

