@import "tailwindcss";


@theme {

  --animate-spin-slow: spin 10s linear infinite;
  --animate-float: float 3s ease-in-out infinite;

  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
  }

}

