*{
    margin:0;
    padding:0;    
}

.main{
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: rgb(0,0,255,0.1);
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: white;
}

.material-symbols-outlined{
    color: rgb(98, 47, 145);
    margin-right: 0.2rem;
}

.para{
    text-align: center;
    margin-top:1rem;
}

h1{
    font-weight: 700;
}

p{
    font-size: 0.85rem;
    font-weight: 200;
}

.center{
    margin:auto;
}

.detail{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;    
}

.class input{
    font-size: 0.7rem;
}

.select select{
    width: 100%;
    font-size: 0.76rem;
    font-weight: 200;
    height:2rem;
    margin-top:0.2rem;
}

.center{
    width: 400px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border: 4px solid white;
    box-shadow: 2px 4px 8px gainsboro;
    padding:10px;
    margin-top: 0.75rem;
}

.name label{
    font-size: 0.79rem;
    font-weight: 400;
}

.name input{
    height: 1.5rem;
}

.class label{
    font-size: 0.79rem;
    font-weight: 400;
}

.class input{
    height:1.5rem;
}

.text{
    margin-bottom: 1rem;
}

.text textarea{
    width: 100%;
    ;
}

.button{
    width: 100%;
    height:1.7rem;
   margin-bottom: 0.9rem;
}

button{
    height: 1.7rem;
    width: 100%;
    background-color: blue;
    color:white;    
}

.select{
    font-size: 0.79rem;
    font-weight: 400;
    width: 400px;
}

.p1{
    font-size: 0.79rem;
    font-weight: 400;
    margin-top:0.2rem;
}

.stars{
    margin-top: 1rem;
}

.s{
    color:gray;
}

.text{
    margin-top: 0.7rem;
    font-size: 0.79rem;
    font-weight: 400;
    width: 100%;
}

textarea{
    height:6rem;
    width: 100%;
    font-size: 0.58rem;
}

.footer {
    text-align: center;
    margin-top:2.4rem;
}

.footer p{
    font-size: 0.58rem;
}

a{
    text-decoration: none;
    font-size: 0.58rem;
    font-weight: 300;
}

