/* ABOUT PAGE */
.about {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.about h2 {
  font-size: 32px;
  color: #4f46e5;
  margin-bottom: 20px;
}

.about p {
  font-size: 16px;
  color: #374151;
  margin-bottom: 15px;
  line-height: 1.6;
}

.about-boxes {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.about-card {
  background: white;
  width: 260px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.about-card h3 {
  color: #4f46e5;
  margin-bottom: 10px;
}
